<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ currennt_rubric.name }} :: Доска объявлений</title>
</head>
<body>
    <h1>Объявления</h1>
    <h2>Рубрика: {{ currennt_rubric.name }}</h2>
    <div>
        <a href="/bboard/">Главная</a>
        {% for rubric in rubrics %}
        <a href="/bboard/{{ rubric.pk }}/">{{ rubric.name }}</a>
        {% endfor %}
    </div>
    {% for bd in bds %}
    <div>
        <h2>{{ bd.title }}</h2>
        <p>{{ bd.content }}</p>
        <p>{{ bd.published }}</p>
    </div>
    {% endfor %}
</body>
</html>