<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ currennt_rubric.name }} :: Доска объявлений</title>
</head>
<body>
    <h1>Объявления</h1>
    <div>
        <a href="{% url 'index' %}">Главная</a>
        {% for rubric in rubrics %}
        <a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a>
<!--        <a href="/bboard/{{ rubric.pk }}">{{ rubric.name }}</a>-->
        {% endfor %}

    </div>
    <a href="{% url 'add' %}">Добавить</a>
    {% for bd in bds %}
    <div>
        <h2>{{ bd.title }}</h2>
        <p>{{ bd.content }}</p>
        <p><a href="/bboard/{{ bb.rubric.pk }}/">{{ bb.rubric.name }}</a> </p>
        <p>{{ bd.published }}</p>
    </div>
    {% endfor %}
</body>
</html>